/* pc */
@media (min-width:64em) {
    
}
/* tablet */
@media (min-width:46.25em) and (max-width:63.93em) {
    
}
/* mobile and tablet*/
@media (max-width:63.9em){
    
}

/* mobile */
@media (max-width:46.18em) {
    #header{
        height: 100px;
    }

    #header__nav {
        display: none;
    }

    #header__content {
        display: flex;
        margin-top: 0;
        height: 100px;
        justify-content: normal;
        width: 100%;
        position: fixed;
    }

    .heder__content-logo {
        height: 90px;
        width: 25%;
        margin-left: 20px;
    }

    .content-logo-img {
        height: 100%;
    }

    .header__content-sub {
        display: none;
    }

    .header__content-sub-mobile {
        height: 100%;
        width: 75%;
        display: block;
    }

    .content-sub-mobile-text-h4{
        height: 70%;
        width: 100%;
        display: flex;
        font-size: 1.4rem;
        padding-bottom: 10px;
        align-items: flex-end;
        justify-content: center;
    }
    .content-sub-mobile-text-p{
        height: 30%;
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: end;
        padding: 5px 10px;
        font-size: 0.7rem;
    }

    .content-sub-mobile-text-p i {
        margin-right: 5px;
        margin-bottom: 1px;
    }

    .body__header-text h1{
        margin-left: 10px;
    }
    .body__header-text h3 {
        margin: 0 10px;
    }

    .body__header{
        height: 330px;
    }

    .body__header-text{
        height: 330px;
    }

    .body__content-home {
        display: block;
        padding: 40px 20px;
        height: auto;
    }

    .body__content-row {
        width: 90%;
        margin-bottom: 30px;
    }
    .hr-body-home {
    margin: 40px 100px 0px 100px;
}
}
