/* pc */
@media (min-width:64em) {
    
}
/* tablet */
@media (min-width:46.25em) and (max-width:63.93em) {
    
}
/* mobile and tablet*/
@media (max-width:63.9em){
    
}

/* mobile */
@media (max-width:46.18em) {
    .hr-body-home {
        margin: 30px 100px 0px 100px;
    }

    .welecom-text {
        margin: 25px 0px;
    }

    #header{
        height: 100px;
    }

    #header__nav {
        display: none;
    }

    #header__nav-mobile {
        display: flex;
        padding: 0px 26px;
    }

    .nav-mobile-content-icon {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }

    .header__nav-mobile-content {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-mobile-content-section {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #header__content {
        display: flex;
        margin-top: 0;
        height: 100px;
        justify-content: normal;
        width: 100%;
        position: fixed;
    }

    .heder__content-logo {
        height: 90px;
        width: 25%;
        margin-left: 20px;
    }

    .content-logo-img {
        height: 100%;
    }

    .header__content-sub {
        display: none;
    }

    .header__content-sub-mobile {
        height: 100%;
        width: 75%;
        display: block;
    }

    .content-sub-mobile-text-h4{
        height: 70%;
        width: 100%;
        display: flex;
        font-size: 1.4rem;
        padding-bottom: 10px;
        align-items: flex-end;
        justify-content: center;
    }
    .content-sub-mobile-text-p{
        height: 30%;
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: end;
        padding: 5px 10px;
        font-size: 1rem;
        font-weight: 300;
    }

    .content-sub-mobile-text-p i {
        margin-right: 5px;
        margin-bottom: 1px;
    }

    .body__header-text h1 {
        margin-left: 10px;
        margin-top: 0;
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
    
    .body__header-text h3 {
        margin: 0 20px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .body__header-content{
        width: 100%;
        display: block;
    }

    .body__header-img {
        width: 100%;
    }

    .body__header-text {
        width: 100%;
        margin-top: -4px;
    }

    .body__content-home {
        display: block;
        padding: 40px 20px;
        height: auto;
        background: linear-gradient(45deg, #0091ff, #d56060);
    }

    .body__content-home-section {
        width: 100%;
        display: block;
    }

    .body__content-service-row {
        height: 160px;
        width: 160px;
    }

    .body__content-service-section {
        padding: 0 20px;
    }

    .body__content-row {
        width: 90%;
        margin-bottom: 30px;
    }

    .body__content-service-sub {
        display: flex;
    }

    .body__content-service {
        display: none;
    }
    
    .body__content-service-mobile{
        display: block;
        background: linear-gradient(45deg, #0091ff, #d56060);
        padding: 60px 0;
    }
    
    .body__content-news {
        display: block;
    }

    .body__content-news-width {
        display: block;
        justify-content: center;
        width: 100%;
    }

    .body__content-news-section {
        width: 100%;
    }

    .content__news-section-body {
        height: 150px;
    }

    .body__content-news {
        padding: 0;
    }

    .body__content-news-1 {
        padding-bottom: 0;
    }

    .body__content-news-section {
        padding: 0 20px 20px;
    }
}

